.Container {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .AboutName {
    text-align: left;
  }
  
  .AboutHotel p { 
    text-align: left;
  }
  
  .AboutHotel {
    max-width: 50%;
    padding: 20px;
  }
  
  .img {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto; 
  }
  
  @media only screen and (max-width: 420px) {
    .Container {
      flex-direction: column;
      align-items: stretch;
    }
    
    .img {
        width: 200px;
        height: auto;
        display: block;
        margin: 0 auto; 
      }
    .AboutHotel {
        max-width: 100%;
    }
  }
  